name: MC2Connect - BlackCat Managed Identity Adds Permission to Assign Directory Roles
run-name: MC2Connect - BlackCat Adds Permission to Assign Directory Roles
on: [workflow_dispatch]

permissions:
      id-token: write
      contents: read

jobs:
  ubuntu-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: Azure/Login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          allow-no-subscriptions: true
          enable-AzPSSession: true

      - name: 'Add Permission to UAMI to Assign Directory Roles'
        uses: azure/powershell@v2
        with:
          inlineScript: |
            # Import BlackCat module from checked-out code
            Import-Module -Name "${{ github.workspace }}/BlackCat.psd1" -Force
            
            # Microsoft Graph service principal ID for this tenant
            # To find this value, run as admin: (Get-AzADServicePrincipal -ApplicationId "00000003-0000-0000-c000-000000000000").Id
            $msGraphSpId = "${{ secrets.MSGRAPH_SP_ID }}"
            
            if (-not $msGraphSpId) {
                throw "MSGRAPH_SP_ID secret not set. Get it with: (Get-AzADServicePrincipal -ApplicationId '00000003-0000-0000-c000-000000000000').Id"
            }
            
            Write-Host "Microsoft Graph SP ID: $msGraphSpId"
            
            # Assign RoleManagement.ReadWrite.Directory to UAMI using BlackCat
            # Using -ResourceServicePrincipalId to bypass the SP lookup (no Application.Read.All needed)
            $parameters = @{
                servicePrincipalId         = '197e935d-02a7-4ca3-98a2-a2b0ffc389f6'
                CommonResource             = 'MicrosoftGraph'
                ResourceServicePrincipalId = $msGraphSpId
                appRoleName                = 'RoleManagement.ReadWrite.Directory'
            }
            
            Set-ManagedIdentityPermission @parameters
          azPSVersion: "latest"
