name: MC2Connect - BlackCat Managed Identity Adds Permission to Assign Directory Roles
run-name: MC2Connect - BlackCat Adds Permission to Assign Directory Roles
on: [workflow_dispatch]

permissions:
      id-token: write
      contents: read

jobs:
  ubuntu-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Azure
        uses: Azure/Login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          allow-no-subscriptions: true
          enable-AzPSSession: true

      - name: 'Add Permission to UAMI to Assign Directory Roles'
        uses: azure/powershell@v2
        with:
          inlineScript: |
                Install-Module -Name BlackCat -Force -AllowClobber -Scope CurrentUser

                # Grant the UAMI the ability to assign directory roles
                $parameters = @{
                      servicePrincipalId = '197e935d-02a7-4ca3-98a2-a2b0ffc389f6'
                      CommonResource     = 'MicrosoftGraph'
                      appRoleName        = 'RoleManagement.ReadWrite.Directory'
                }

                Set-ManagedIdentityPermission @parameters

          azPSVersion: "latest"
